<div class="card col-2" style="width: 18rem;">
  <img src="assets/contact.jpeg" alt="logo_img" class=" card-img-top">
  <div class="card-body bg-body-secondary">
    <h5 class="card-title text-body-secondary"> Contact </h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">nom: {{nom}}</li>
      <li class="list-group-item">Numero: {{numero}}</li>
      <li class="list-group-item">{{adresse}}</li>
    </ul>
  </div>
  <div class="d-flex justify-content-between">
    @if (etat == "true") {
    <button class="col-3 btn btn-primary mb-2 mt-2 m-auto" type="button">Actif</button>
    }
    @else {
    <button class="col-3 btn btn-danger mb-2 mt-2 m-auto" type="button">Inactif</button>
    }
    @if (page == "contact") {
    <a class="col-3 btn btn-info mb-2 mt-2 m-auto" type="button" (click)="onDetails()" [routerLink]="['/contact/detail-contact', id]">Detail</a>
    }
  </div>

</div>



