<header class="d-flex m-3 mt-2 align-items-center logo justify-content-between ms-5 me-5">
  <div class="" style="width: 5rem; height: 5rem;">
    <img src="assets/contact.jpeg" alt="logo_img" width="100%" height="100%">
  </div>
  <nav>
    <ol class="d-flex gap-4 list-unstyled ">
      <li>
        <a href="" class="text-decoration-none text-{{color}}" >Accueil</a>
      </li>
      <li>
        <a href="" class="text-decoration-none text-dark">Contacts</a>
      </li>
      <li>
        <a href="" class="text-decoration-none text-dark">A Propos</a>
      </li>
    </ol>
  </nav>
</header>
